@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.text-decoration-none {
  text-decoration: none;
}

.list-style-type-none {
  list-style-type: none;
}

.mt-12 {
  margin-top: 12px;
}

.mt-26 {
  margin-top: 26px;
}

.mt-22 {
  margin-top: 22px;
}

.weight--400 {
  font-weight: 400;
}

.weight--500 {
  font-weight: 500;
}

.weight--600--500 {
  font-weight: 500;
}

.weight--700 {
  font-weight: 700;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-content-center {
  align-content: center;
}

.text--primary {
  color: #6070ff;
}

.text--info {
  color: #7f8cff;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.container {
  padding: 25px 155px;
}

.height-100vh {
  height: calc(100vh - 10vh);
}

.card {
  max-width: 1156px;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  height: auto;
}

.card:hover {
  box-shadow: 0 0 40px rgba(64, 83, 252, 0.24);
  border: 2px solid #a7aeff;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.card aside {
  flex-basis: 544px;
  padding: 0 46px 0 46px;
}

.card-sub-title {
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  width: 80%;
}

.card-title {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.canopy {
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  margin: 20px 0;
  font-weight: 500;
}

.canopy-bold {
  color: #344563;
}

.dot {
  align-self: center;
  border-radius: 50%;
  background-color: #c1c7d0;
  width: 8px;
  height: 8px;
  margin: 0 12px;
}

/*
this style here is where you should create your
custom style should incase is not created
*/
.background-color {
  background-color: #f4f5f7;
}

.background-image {
  height: calc(916px - 92px);
  background-color: #fff;
  background-image: url('./assets/images/Header-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-bottom-left-radius: 50px;
}

.container-fluid {
  max-width: 1010px;
}

.my-logo {
  font-size: 18px;
  line-height: 20px;
}

.nav {
  background-color: #fff;
  box-shadow: 0 0 1rem #e5e5e5;
  height: 72px;
}

.nav-link {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  display: flex;
  font-weight: 500;
}

.nav-link li {
  margin: 0 32px;
}

.nav-link li a {
  text-decoration: none;
  color: #344563;
}

i.fa-close {
  display: none;
}

.container .fa-bars {
  display: none;
}

.nav-heading {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  width: 53.5%;
}

.nav-sub-heading {
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.nav-sub-sub-heading {
  font-size: 16px;
  line-height: 24px;
}

.fa-brands {
  margin-right: 17px;
  font-size: 25px;
  color: #505f79;
}

.row {
  display: grid;
  grid-template-rows: auto;
  row-gap: 142px;
  justify-content: center;
  margin-bottom: 142px;
}

.lang {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  line-height: 16px;
}

button {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
  padding: 16px;
  border-radius: 8px;
  margin-top: 10px;
}

button.btn {
  background-color: #fff;
  color: #396df2;
  border: 1px solid #7f8cff;
}

button.btn:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #7f8cff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition-property: background-color;
  transition-duration: 0.8s;
}

button.btn:disabled {
  background-color: #fff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

button.btn:active {
  background-color: #2230d2;
  color: #fff;
  border: 1px solid #5e6c84;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition-property: background-color, box-shadow;
  transition-duration: 0.8s;
}

footer {
  background-color: #fff;
  border-top-right-radius: 50px;
}

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-basis-5 {
  flex-basis: 447px;
  padding-right: 37px;
}

.flex-basis-7 {
  max-width: 676px;
  flex: auto;
}

.pt-114 {
  padding: 142px 0 0 0;
}

.footer-sub-title {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 50%;
}

.footer-title {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.language {
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.fa-chev {
  color: #acb7c3;
}

.hr {
  border: 0.3px solid #dfe1e6;
}

aside.w-50 {
  margin: 23px 0;
  width: 90%;
}

.no-nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li img {
  width: 48px;
  height: 48px;
}

.card img {
  width: 544px;
  height: 448px;
  flex-basis: 544px;
}

.no-nav ul li span {
  margin-top: 16px;
  margin-left: 0;
}

.lang li {
  background-color: #ebebff;
  letter-spacing: 0.03em;
  font-size: 12px;
  color: #6070ff;
  border-radius: 8px;
  padding: 6px 12px;
  margin-right: 8px;
}

.no-nav ul li {
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 14px;
  margin: 36px 12px 36px 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #253858;
  flex-direction: column;
  width: 122px;
}

.contact-bg-color {
  border-top-left-radius: 50px;
  background-color: #6070ff;
  background-image: url('./assets/images/contact-form1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 142px 0 127px 0;
  margin-top: 140px;
}

.contact-title {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

.contact-sub-title {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  width: 569px;
}

.mt-24 {
  margin-top: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 16px;
  height: 30px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 447px;
}

.contact-form textarea {
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 15px 16px;
  line-height: 24px;
  color: #172b4d;
  height: 190px;
  width: 447px;
}

/* large screen */
@media (min-width: 1000px) and (max-width: 1280px) {
  .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-basis-5 {
    flex-basis: 447px;
    padding-right: 0;
  }

  .flex-basis-7 {
    flex: auto;
  }

  .lang {
    display: flex;
    flex-direction: row;
  }

  .lang li {
    margin-bottom: 10px;
  }

  .container {
    padding: 26px 2%;
  }

  .container-fluid {
    max-width: 80%;
  }
}

/* medium screen resolution */
@media (min-width: 767px) and (max-width: 1000px) {
  .background-image {
    padding: 0 80px;
  }

  .container {
    padding: 26px 80px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 24px 16px;
    height: min-content;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: 100%;
    padding-right: 0;
    flex-basis: auto;
  }

  .card aside {
    flex-basis: auto;
    padding: 0 0 0 0;
  }

  .card-sub-title {
    font-size: 34px;
    width: 100%;
  }

  .canopy {
    font-size: 15px;
    line-height: 24px;
  }

  .dot {
    align-self: center;
    border-radius: 50%;
    background-color: #c1c7d0;
    width: 8px;
    height: 8px;
    margin: 0 7px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 26px;
  }

  .flex-basis-5 {
    flex: auto;
  }

  .flex-basis-7 {
    flex: auto;
  }
}

/* mobile screen resolution */
@media (max-width: 767px) {
  .background-image {
    height: 718px;
    background-image: url('./assets/images/mobile-bg-1.svg');
    background-position: top;
    background-size: contain;
  }

  .nav .d-none {
    display: none;
  }

  .container {
    padding: 26px 24px;
  }

  .sideBar {
    background-color: #6070ff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    backdrop-filter: blur(8px);
    animation-duration: 0.3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      position: fixed;
      z-index: 1;
      width: 100px;
      right: 0;
      top: 0;
      bottom: 0;
    }

    to {
      position: fixed;
      z-index: 1;
      width: 100%;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .sideBar > .fas {
    color: #fff;
    font-size: 28px;
    display: flex;
    justify-content: end;
    padding: 62px 38px;
  }

  .container-fluid {
    max-width: 90%;
  }

  .weight--600--500 {
    font-weight: 600;
  }

  .pt-114 {
    padding: 114px 0 0 0;
  }

  .mt-24 {
    margin-top: 84px;
  }

  .nav-heading {
    font-size: 40px;
    line-height: 52px;
    width: 90%;
  }

  .container .fa-bars {
    display: block;
  }

  .nav-link {
    position: fixed;
    top: 20%;
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding-left: 28px;
  }

  .nav-link li {
    padding-bottom: 40px;
    margin: 0;
    animation-duration: 1.8s;
    animation-name: fadein;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 3;
    }
  }

  .nav-link li a {
    color: #fff;
    padding-bottom: 40px;
  }

  .row {
    display: grid;
    grid-template-rows: auto;
    row-gap: 88px;
    justify-content: center;
    margin-bottom: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 24px 16px;
    height: min-content;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: 100%;
    padding-right: 0;
    flex-basis: auto;
  }

  .card aside {
    flex-basis: auto;
    padding: 0 0 0 0;
  }

  .card-sub-title {
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    width: 80%;
  }

  .card-title {
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .canopy {
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    margin: 20px 0;
    width: 85%;
  }

  .canopy-bold {
    color: #344563;
  }

  footer {
    margin-top: calc(114px - 26px);
  }

  .about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-basis-5 {
    flex-basis: 0;
    padding-right: 0;
  }

  .flex-basis-7 {
    flex-basis: 0;
  }

  .no-nav {
    margin-top: 60px;
  }

  .no-nav ul {
    flex-direction: column;
    margin: 36px 0;
  }

  .language {
    color: #000;
  }

  .lang {
    display: flex;
    flex-direction: row;
  }

  .lang li {
    margin-bottom: 0;
  }

  .no-nav ul li {
    flex-direction: row;
    align-items: center;
    margin: 12px 0 0 0;
    width: auto;
  }

  .no-nav ul li span {
    margin-top: 0;
    margin-left: 16px;
  }

  .contact-bg-color {
    background-image: url('./assets/images/contact-1.svg');
    background-size: contain;
    background-position: right;
    padding: 125px 0 45px 0;
    margin-top: 113.85px;
  }

  .contact-sub-title {
    width: auto;
  }

  .contact-form {
    align-items: stretch;
  }

  .contact-form input {
    width: auto;
  }

  .contact-form textarea {
    width: auto;
  }
}
